<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- <a routerLink="/hero/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a> -->
    <button [ngClass]="{'h-button': true, 'selected': selected != null && selected.id == hero.id}" (click)="select($event, hero.id)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </button>
  </li>
</ul>

<div *ngIf="selected != null" class="selected_hero">
  <h3>{{selected.name}} is my Hero! </h3>
  <a routerLink="/hero/{{selected.id}}">View Details</a>
</div>